@tailwind base;
@tailwind components;
@tailwind utilities;

/* Arrow styles
.arrow-top::before,
.arrow-bottom::before,
.arrow-left::before,
.arrow-right::before {
  content: '';
  position: absolute;
  border-style: dashed;
  border-width: 10px;
  border-color: black transparent transparent transparent;
  z-index: 10;
} */

.arrow-top::before {
  top: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  background-color: black;
}

.arrow-bottom{
  bottom: 100px;
  left: -50px;
  transform: rotate(180deg);
  background-color: brown;
}

.arrow-left::before {
  top: 50%;
  right: 100%;
  transform: translateY(-50%) rotate(90deg);
}

.arrow-right::before {
  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(-90deg);
}





/* styles.css */
.table {
  transition: background-color 0.3s ease;
}

.row {
  transition: opacity 0.3s ease;
}



/* styles.css */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
}

.table tr {
  transition: background-color 0.3s ease;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.row {
  cursor: grab;
}

.row:active {
  cursor: grabbing;
}

/* styles.css */
.table-container {
  overflow-x: auto;
}

.table {
  min-width: 600px; /* Adjust based on your content */
}



/* styles.css */
@media (max-width: 600px) {
  .table th, .table td {
    padding: 4px;
    font-size: 12px;
  }

  .table {
    font-size: 14px;
  }
}
