@tailwind base;
@tailwind components;
@tailwind utilities;

/* Arrow styles
.arrow-top::before,
.arrow-bottom::before,
.arrow-left::before,
.arrow-right::before {
  content: '';
  position: absolute;
  border-style: dashed;
  border-width: 10px;
  border-color: black transparent transparent transparent;
  z-index: 10;
} */

.arrow-top::before {
  top: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  background-color: black;
}

.arrow-bottom{
  bottom: 100px;
  left: -50px;
  transform: rotate(180deg);
  background-color: brown;
}

.arrow-left::before {
  top: 50%;
  right: 100%;
  transform: translateY(-50%) rotate(90deg);
}

.arrow-right::before {
  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(-90deg);
}
